@charset 'utf-8';

@import 'bootstrap/bootstrap';

.img-circle {
  border-radius: 50%;
}

@import 'main';
@import 'redondo';
@import 'anchor';

.navbar a {
  text-align: right;
  color: white !important;
}

img.redondo {
  width: 400px;
  height: 390px;
}

html {
  scroll-behavior: smooth;
}

.titulo {
  font-family: 'Ubuntu', sans-serif;
}

.contenido {
  font-family: 'Roboto', sans-serif;
}

table.contenido {
  font-size: 1.25rem
}

div#navbar {
  font-family: 'Ubuntu', sans-serif;
}
